@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
  --cor0: #98c6f4;
  --cor1: #4ea0f2;
  --cor2: #3d7ebf;
  --cor3: #264d75;
  --cor4: #475d73;

  --fonte01: Verdana, Geneva, Tahoma, sans-serif;
  --fonte02: 'Passion One', cursive;
  --fonte03: 'Sriracha', cursive;
}

* {
  margin: 0px;
  padding: 0px;
  line-height: 2em;
}

body {
  background-image: linear-gradient(to right, var(--cor2), var(--cor4));
}

header {
  font-family: var(--fonte03);
  background-color: var(--cor3);
  color: var(--cor0);
  max-width: 900px;
  margin: 0px auto;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.253);
}

h1 {
  margin-top: -20px;
  font-size: 1.6em;
  font-weight: bolder;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.253);
  text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.199);
}

div {
  margin-top: 10px;
}

main {
  background-color: var(--cor2);
  max-width: 900px;
  margin: 0px auto;
  padding: 20px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.253);
}

h2 {
  font-family: var(--fonte02);
  text-align: center;
  font-size: 1.4em;
  padding: 5px;
}

h2.corzero {
  text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.212);
  color: var(--cor0);
}

img.perfil {
  display: block;
  border-radius: 50%;
  margin: 0px auto;
}

p {
  padding: 2px;
  font-family: var(--fonte03);
  text-align: justify;
  color: var(--cor0);
  font-size: 1em;
  text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.192);
}

ul {
  font-family: var(--fonte03);
  font-size: 1em;
  color: #98c6f4;
  text-align: center;
  list-style-type: none;
  padding: 10px;
}

a {
  text-decoration: none;
  color: var(--cor4);
}

a:hover {
  text-decoration: underline;
  color: var(--cor0);
}

aside {
  background-color: var(--cor02);
  padding: 20px;
  margin: 0px auto;
}

footer > p {
  max-width: 900px;
  padding: 20px;
  margin: 0px auto;
  background-color: rgba(0, 0, 0, 0.596);
  border: 1px solid rgba(0, 0, 0, 0.253);
  text-align: center;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.116);
}
